<div id="header">
  <h1>
    {{ title }}'s Biography!
  </h1>
  <img alt="Angular Logo" src="../assets/images/me.png">

  <h3>I have lived in {{ city }} since 2014.</h3>
  <h5>Motto: {{ tagline }}</h5>
  <p>{{ aboutMe }}</p>

<app-greeting></app-greeting>
<app-skills></app-skills>
<app-socialmedia></app-socialmedia>


    <div class="iframe-container">
      <h3>Favorite Euro Beat Mix</h3>
      <iframe width="600" height="350" src="https://www.youtube.com/embed/8B4guKLlbVU" frameborder="19" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
<app-message-form></app-message-form>
