li {
    list-style-type: none;
    padding: 1%;
  }

#smediv {
  padding-left: 20%;
  padding-right:20%;
  margin-left: 10%;
  margin-right:10%;
  text-align: center;
}
button{
  border-radius: 3em;
}