<br>
<div id="smediv" >
  <h3>Christian's Relevant Social Media Profiles</h3>
  <p>Make sure to connect with me!</p>
  <ul>

    <li *ngFor = "let socialmedia of socialmedias">
      <a href="https://www.linkedin.com/in/christian-castaneda-342a29142/" target="_blank" rel="noopener noreferrer">
         <button class = "btn-success">{{ socialmedia.linkedin }}</button>
      </a>
    </li>

    <li *ngFor = "let socialmedia of socialmedias">
      <a href="https://twitter.com/christiankaleid" target="_blank" rel="noopener noreferrer">
        <button class = "btn-success">{{ socialmedia.twitter }}</button>
      </a>
    </li>

    <li *ngFor = "let socialmedia of socialmedias">
      <a href= "https://github.com/cbc5y" target="_blank" rel="noopener noreferrer">
        <button class = "btn-success">{{ socialmedia.github }}</button>
      </a>
    </li>

  </ul>
</div>